* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  outline: none;
  box-sizing: inherit;
}
.container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #0fff2f;
}
.accodion_item {
  width: 50rem;
  text-align: left;
  background: #333;
  padding: 2rem;
  margin: 0 auto;
}
.answer {
  position: relative;
  // width: 100%;
  min-height: 0;
  overflow: hidden;
  background-color: #c79c60;
}
.question {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: #0fff2f;
  background-color: #c79c60;
  margin-bottom: 0.8rem;
}

// colors
/*
echo "# codingBootcamp" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Bonfas-68/codingBootcamp.git
git push -u origin main
*/
$color-brown: #c79c60;
$color-black: #111;
$color-white: #fff;
$color-blue: #29d9d5;
$color-blue-light: #74e7e5;
$color-blue-dark: #022f2f;
$color-light: rgb(14, 13, 13);
$bg-color: #222;
$bg-black: rgba(17, 17, 17, 0.7);
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-black;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2.5rem;
    background-color: $color-blue;
  }
}
::selection {
  background: $color-blue;
  color: $color-black;
}
body {
  // position: relative;
  color: $color-white;
  background-color: $color-black;
  font-family: sans-serif;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-light;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  z-index: 999;

  .logo {
    font-size: 2.4rem;
    color: $color-blue;
  }

  nav {
    text-align: center;
    .nav {
      &__link {
        color: $color-white;
        margin-right: 2rem;
        justify-self: stretch;
        font-size: 1.8rem;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: 300;
        transition: 0.3s;
        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}
.btn {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
  color: $color-blue;
  border: 2px solid $color-blue;
  padding: 1.2rem 3rem;
  border-radius: 2.5rem;
  transition: 0.3s;
  &:hover {
    color: $color-black;
    background-color: $color-blue;
  }
}

// Home styling starts
.home {
  position: relative;
  width: 80%;
  margin: 10rem auto;
  border-radius: 0.6rem;
  height: 70vh;
  padding: 10rem 4rem;
  background-image: linear-gradient(to right bottom, $bg-black, $bg-black),
    url(/img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 7px solid $color-blue;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  &__content {
    text-align: center;
    line-height: 1;

    h3 {
      font-size: 3vw;
      color: transparent;
      -webkit-text-stroke: 0.1rem $color-white;
    }
    h2 {
      font-size: 5vw;
    }
    p {
      width: 80%;
      margin: 0 auto;
      letter-spacing: 1px;
      font-size: 1.6rem;
      line-height: 1.2;
      margin-bottom: 2rem;
    }
    .btn {
      //   display: block;
      padding: 0.8rem 3rem;
      &:hover {
        background-color: $color-blue;
      }
    }
  }
}
.container {
  width: 85%;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
  }
}
.sticky {
  position: fixed;
  background: $color-blue-dark;
}
.section {
  transition: all 0.8s;
  transition-delay: 0.1s;
}
.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}
section {
  border-bottom: 2px solid $color-blue;
  padding: 10rem 4rem;
  text-align: center;

  .heading {
    font-size: 4vw;
    margin: 1rem 0;
    color: transparent;
    -webkit-text-stroke: 0.1rem $color-white;
  }
  .section__text {
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.section {
  p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 991px) {
  section {
    padding: 5rem 2rem;

    .heading {
      font-size: 7vw;
    }
    .section__text {
      width: 80%;
      margin: 0 auto;
    }
  }
}
.hamburger {
  width: 5rem;
  height: 5rem;
  z-index: 9999;
  cursor: pointer;
  display: none;
}
.show {
  left: 0;
  transition: 0.3s;
}

@media only screen and (max-width: 991px) {
  .hamburger {
    display: block;
  }
  nav {
    text-align: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    margin: 0 auto;
    height: 100vh;
    padding: 0 2rem;
    background: $color-blue-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;

    .nav__link {
      width: 80%;
      text-align: center;

      padding: 1.5rem 1.6rem;
      border: 1px solid $color-blue;
      border-radius: 2.5rem;
      margin-top: 2rem;
    }
  }
  .home {
    width: 100%;
    margin: 5rem auto;
    border-radius: 0.6rem;
    height: 70vh;
    padding: 10rem 4rem;
    &__content {
      h3 {
        font-size: 6vw;
      }
      h2 {
        font-size: 7vw;
      }
      p {
        width: 100%;
        font-size: 1.8rem;
        line-height: 1.6;
        margin-bottom: 2.5rem;
      }
      .btn {
        padding: 1rem 3rem;
      }
    }
  }
}
// About styling starts
.about {
  padding: 4rem;
  text-align: center;
  width: 100%;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    // grid-template-rows: auto;
    gap: 2rem;
  }
  .left {
    padding: 2rem 0;
    width: 80%;
    justify-self: center;
    align-self: center;

    .about__img {
      width: 100%;
      border-radius: 0.8rem;
    }
  }
  .right {
    text-align: justify;
    align-self: center;
    line-height: 1.4;

    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    &__text {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }
    .btn {
      display: inline-block;
    }
  }
}

// section services styling
.services {
  width: 100%;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem;

    &--box {
      width: 100%;
      margin: 0 auto;
      text-align: left;
      img {
        width: 50%;
        text-align: center;
        margin: 0 auto;
      }
    }
    .box {
      background-color: $bg-color;
      padding: 2rem 0.8rem;
      margin-top: -1.4rem;
    }
    .row--1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      span {
        background-color: $color-blue;
        font-size: 1.9rem;
        font-weight: 700;
        padding: 0.8rem;
      }
      h3 {
        font-size: 1.6rem;
        color: $color-white;

        sub {
          font-size: 1rem;
          color: $color-blue;
        }
      }
    }
    .h2 {
      font-size: 2rem;
      margin: 1rem 0;

      a {
        color: $color-blue;
        transition: 0.3s;
        &:hover {
          color: $color-white;
        }
      }
    }
    .row--2 {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .row--left {
        display: flex;
        align-items: center;
        span {
          margin-left: 0.8rem;
          font-size: 1.4rem;
        }
        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }
      }
      .row--right {
        font-size: 1.6rem;
      }
    }
  }
}
//Explore styling starts
.explore {
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(4, 65, 73, 0.7),
      rgba(3, 62, 80, 0.7)
    ),
    url(/img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backface-visibility: hidden;

  h2 {
    font-size: 2rem;
    color: $color-blue;
    margin: 2rem 0;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    margin-top: 3rem;
    position: relative;
    backface-visibility: hidden;
  }
  .ex--1 {
    width: 100%;
    text-align: left;
    align-self: center;
    justify-self: center;
    backface-visibility: hidden;
    ul li {
      list-style: none;
      font-size: 1.8rem;
      text-align: left;
      line-height: 1.6;
    }
  }
  .ex--2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    backface-visibility: hidden;
  }
  &__card {
    backface-visibility: hidden;
    border-radius: 0.6rem;
    position: relative;
    padding: 1rem 0.8rem;
    width: 100%;
    background-color: $bg-color;
    color: $color-white;
    text-align: right;
    border: 1px solid transparent;
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      border: 2px solid $color-blue;
    }

    h2 {
      position: relative;
      font-size: 2rem;
      padding: 0.5rem 0;
      margin: 0 0 1.3rem;
      color: $color-blue;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 8rem;
        height: 3px;
        background-color: $color-blue-light;
      }
      &::before {
        position: absolute;
        content: ' ';
        background-color: #0fff2f;
        width: 4rem;
        height: 12px;
        bottom: -5px;
        margin-top: 1rem;
        border-radius: 0.6rem;
        right: 0;
        z-index: 9;
      }
    }
    code {
      background-color: #0fff2f;
      color: $color-black;
      font-weight: 700;
    }
    p {
      font-size: 1.6rem;
      line-height: 1.4;
      font-family: cursive;
    }
  }
}

// Trainer styling starts
.trainer {
  padding: 10rem 4rem;
  width: 100%;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    margin: 0 auto;
  }

  .active {
    border-bottom: 7px solid $color-blue;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
  }
  &__box {
    padding: 1rem 0.8rem;
    background-color: $color-light;
    box-shadow: 0.2rem 0.3rem $color-light;
    width: 100%;
    margin: 0 auto;
    // border-radius: 0.6rem;
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
      border-bottom: 7px solid $color-blue;
      border-bottom-left-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
    }

    img {
      width: 100%;
      // height: 25rem;
      object-fit: cover;
      height: 30rem;
    }

    .tittles {
      display: flex;
      flex-direction: column;
      span {
        font-size: 2.8rem;
        color: $color-white;
        display: block;
        margin-top: 1rem;
      }
      & h4 {
        font-size: 1.6rem;
        font-style: italic;
        margin-top: 0.8rem;
        font-weight: 300;
        margin-bottom: 2rem;
      }
      .text {
        width: 100%;
        margin: 0 auto;
        font-size: 1.8rem;
        color: $color-white;
        line-height: 1.6;
      }
      padding: 1rem 0.8rem;
    }

    .social {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        fill: $color-blue;
        margin-left: 0.8rem;
        transition: 0.3s;
        &:hover {
          fill: $color-white;
        }
      }
    }
  }
}
// Testimonies styling starts
.testimonies {
  width: 100%;
  position: relative;
  .slider {
    width: 80%;
    height: 50rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .slide {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      height: 50rem;
      margin: 0 auto;
      text-align: left;
      transition: 1s;

      .test__box {
        width: 80%;
        margin: 0 auto;
        padding: 5rem;
        // background-color: $color-blue-dark;
      }
      blockquote {
        margin-top: 1.4rem;
        font-size: 2.2rem;
        letter-spacing: 1px;
        font-weight: 600;
      }
      cite {
        font-size: 1.5rem;
        color: $color-blue-light;
        font-weight: 700;
      }
      cite:first-child {
        margin-top: 3rem;
      }
      .test__img {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        object-fit: cover;
      }
      .test__heading {
        font-size: 2rem;
        // text-align: justify;
      }
      .test__rate {
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .buttons {
      .left__btn {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 1%;
        transform: translateY(-50%) rotate(180deg);
        font-size: 10rem;
        color: #29d9d5;
        background: none;
        padding: 0.8rem;
        border-radius: 50%;
        border: none;
      }
      .right__btn {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
        font-size: 10rem;
        color: #29d9d5;
        background: none;
        padding: 0.8rem;
        border-radius: 50%;
        border: none;
      }
    }

    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      position: absolute;
      bottom: 13%;
      left: 50%;
      transform: translateX(-50%);
    }
    .dots__dot {
      background-color: #fff;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin-left: 1rem;
      cursor: pointer;

      &--active {
        background-color: $color-blue;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .testimonies {
    padding: 3rem 1rem;
    width: 100%;
    position: relative;
    .slider {
      width: 90%;

      .slide {
        width: 93%;
        margin: 0 auto;
        .test__box {
          width: 80%;
          margin: 0 auto;
          padding: 1rem;
          // background-color: $color-blue-dark;
        }
        blockquote {
          font-size: 1.6rem;
          font-weight: 500;
        }

        .test__img {
          width: 6.5rem;
          height: 6.5rem;
        }
        .test__heading {
          font-size: 2.4rem;
          // text-align: justify;
        }
        .test__rate {
          font-size: 1.8rem;
        }
      }
      .buttons {
        .left__btn {
          font-size: 5rem;
          left: 1%;
        }
        .right__btn {
          right: 1%;

          font-size: 5rem;
        }
      }

      .dots {
        bottom: 10%;
      }
    }
  }
}
.challenge {
  width: 100%;
  position: relative;

  &__container {
    background-color: $color-white;
    width: 80%;
    margin: 3rem auto;
    box-shadow: 0.2rem 5rem $color-black;
    text-align: left;

    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__box {
    width: 50%;
    // margin: 0 auto;
    font-size: 1.8rem;
    color: $color-black;

    .button {
      width: 100%;
      cursor: pointer;
      background-color: #022f2f;
      margin-bottom: 1rem;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      color: $color-white;
      text-transform: capitalize;
      position: relative;

      .arrow {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.3rem;
      }
    }
  }
  &__show--box {
    height: 20rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: $color-blue;
    display: none;
    line-height: 1.6;
    margin: 1rem 0;
    box-shadow: 3px 0 0.5rem 0.2rem rgba(17, 17, 17, 0.7);
  }
  .box__show {
    display: block;
  }
}

// Pricing styling starts
.pricing {
  position: relative;
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    margin-top: 5rem;
  }

  &__box {
    width: 100%;
    text-align: center;
    background-color: $color-white;

    // padding: 2rem 1.4rem;
    padding-bottom: 2rem;
    line-height: 1.9;
    border-radius: 0.6rem;
    overflow: hidden;
    transition: 0.3s;
    backface-visibility: hidden;
    &:hover {
      transform: scale(1.02);
    }
    &:hover .price__heading {
      background-color: $color-blue-dark;
      color: $color-white;
    }
  }
  .price {
    &__heading {
      width: 100%;
      padding: 2rem 1rem;
      font-size: 2rem;
      color: $color-blue-dark;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      transition: 0.3s;

      &-active {
        background-color: $color-blue-dark;
        color: $color-white;
      }
    }
    &__sub--heading {
      font-size: 2.2rem;
      color: $color-blue-dark;
      sub {
        font-size: 1.6rem;
        color: $color-black;
      }
    }
    &__list {
      font-size: 1.6rem;
      color: $color-blue-dark;
      font-weight: 600;
      list-style: none;

      .i {
        font-size: 2rem;
        color: orangered;
        margin-right: 1rem;
      }
      .tick {
        color: $color-blue-dark;
      }
    }
    &__btn {
      border: none;
      font-size: 1.4rem;
      display: inline-block;
      background-color: $color-blue-dark;
      color: $color-white;
      padding: 0.5rem 1.2rem;
      transition: 0.3s;

      &:hover {
        color: $color-blue-dark;
        background: transparent;
        border: 1px solid $color-blue-dark;
      }
    }
  }
}

.footer {
  padding: 10rem 4rem;
  background-color: $bg-color;
  height: min-content;
  transition: 0.5s;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
  }
  &__box {
    width: 100%;

    h3 {
      font-size: 2.4rem;
      color: $color-blue;
      margin-bottom: 1.5rem;
      text-align: left;
    }
  }
  &__item {
    list-style: none;
  }
  &__services {
    list-style: none;
    line-height: 1.6;
    font-size: 1.6rem;
    text-transform: capitalize;
    transition: 0.3s;
    & li {
      transition: 0.5s;
      &:hover {
        padding-left: 0.8rem;
      }
    }
    span {
      font-size: 1.2rem;
      margin-right: 0.5rem;
      color: $color-blue;
    }
  }
  &__link {
    line-height: 1.6;
    color: $color-white;
    font-size: 1.6rem;
    text-transform: capitalize;
    transition: 0.3s;
    &:hover {
      padding-left: 0.8rem;
    }

    span {
      font-size: 1.4rem;
      color: $color-blue;
      margin-right: 0.8rem;
      margin-top: -0.5rem;
      transition: 0.3s;

      &:hover {
        padding-right: 0.8rem;
      }
    }
  }
  .location {
    line-height: 1.6;
    font-size: 1.8rem;
    list-style: none;
  }
  .contact_info {
    margin-top: 1.2rem;
  }
  & p {
    font-size: 1.8rem;
    text-align: left;
    width: 85%;
    line-height: 1.2;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    &::placeholder {
      color: $color-white;
      font-size: 1.8rem;
    }
    .input {
      font-size: 1.8rem;
      color: $color-white;
      border: 2px solid $color-blue;
      padding: 1.4rem 1.8rem;
      background: none;
      border-radius: 2.5rem;
    }
    .subscribe {
      font-size: 1.8rem;
      padding: 1.4rem 1.8rem;
      margin-left: -0.5rem;
      cursor: pointer;
      background: $color-blue;
      border: 2px solid $color-blue;
      margin-top: 2rem;
      border-radius: 2.5rem;
    }
  }
}
.copyright {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  background: $color-black;

  font-size: 1.8rem;
  span {
    color: $color-blue;
    font-size: 2rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 450px) {
  .home {
    padding: 4rem 2rem;

    &__content h3 {
      font-size: 7vw;
    }
    &__content h2 {
      font-size: 8vw;
    }
  }
  .header {
    padding: 1.4rem;
  }
  .hamburger {
    width: 3.5rem;
    height: 3.5rem;
  }
  .btn {
    padding: 0.8rem 1.3rem;
  }
  .about {
    padding: 2rem 0.8rem;
  }
  .about__content {
    .left {
      width: 100%;
      padding: 0.8rem 0;
    }
  }
  .services__content--box img {
    width: 100%;
    transform: scale(0.85);
  }
  .testimonies {
    padding: 3rem 1rem;
    width: 100%;
    position: relative;
    .slider {
      width: 100%;

      .slide {
        width: 100%;

        .test__box {
          width: 100%;
        }
        blockquote {
          font-size: 1.6rem;
          font-weight: 500;
        }

        .test__img {
          width: 4.5rem;
          height: 4.5rem;
        }
        .test__heading {
          font-size: 2.4rem;
          // text-align: justify;
        }
        .test__rate {
          font-size: 1.8rem;
        }
      }
      .buttons {
        .left__btn {
          top: 85%;
          font-size: 5rem;
          left: 1%;
          transform: translateY(-70%) rotate(180deg);
        }
        .right__btn {
          top: 85%;
          transform: translateY(-70%);
          right: 1%;
          font-size: 5rem;
        }
      }

      .dots {
        bottom: 10%;
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  section {
    padding: 2rem 1rem;

    .heading {
      font-size: 8vw;
    }
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .home {
    padding: 3rem 1rem;

    &__content h3 {
      font-size: 7vw;
    }
    &__content h2 {
      font-size: 8vw;
    }
  }

  .copyright {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  .hamburger {
    width: 3rem;
    height: 3rem;
  }

  .btn {
    padding: 0.5rem 1.5rem;
  }
}
